#
# NTS device configuration
#

menuconfig X223WO_DRIVERS
	bool "X223WO DTRG Board Drivers"
	depends on MACH_NTS3250

if X223WO_DRIVERS

config X223WO_TMP125
	tristate "Temperature Sensor TMP125 Driver"
	default n

config X223WO_WATCHDOG
	tristate "X223WO hardware watchdog in CPLD Driver"
	default m

config X223WO_LED
	tristate "System Status LED Driver"
	default n
	help
		Four leds used for check the sytem status
		
config X223WO_IF_FPGA
	tristate "IF FPGA For DPD and CFR Module Driver"
	default n

config X223WO_FPGA_CONFIG
	tristate "FPGA Configure Module Driver"
	default n
	help
		Modules used for configure FPGA

config X223WO_LMK04031
	tristate "LMK04031 Configure Module Driver"
	default n

config X223WO_ADF4350
	tristate "ADF4350 Configure Module Driver"
	default n

config X223WO_POWER
	tristate "Power control"
	default n

config X223WO_RESET
	tristate "Reset control"
	default n

config X223WO_RTC
	tristate "RTC driver"
	default n

config X223WO_ADC
	tristate "RX ADC contorl"
	default n

config X223WO_STATUS
	tristate "status check module"
	default n

config X223WO_DAC
	tristate "TX DAC control"
	default n

config X223WO_VERSION
	tristate "version check module"
	default n
endif

