#
# NTS device configuration
#

menuconfig NTS3250_DRIVERS
	bool "NTS DTRM Board Drivers"
	depends on MACH_NTS3250
	

if NTS3250_DRIVERS

config NTS_CPLD_TEST
	tristate "CPLD and CPU communication test support"
	default n
	help
		NTS CPLD and CPU communication test module.
		Just for test, should not include with a release version.

config NTS_BUTTON
	tristate "Button for interrupt test"
	default n
	help
		NTS button driver module, for interrupt test.
		Should not include with a release version.

config NTS_TMP435
	tristate "Button for interrupt test"
	default n
	help
		NTS TMP435 temerature sesor driver
endif
