#
# NTS device configuration
#

menuconfig G200WO_DRIVERS
	bool "G200WO DTRG Board Drivers"
	depends on MACH_NTS3250

if G200WO_DRIVERS

config G200WO_TMP125
	tristate "Temperature Sensor TMP125 Driver"
	default n

config G200WO_WATCHDOG
	tristate "G200WO hardware watchdog in CPLD Driver"
	default m

config G200WO_LED
	tristate "System Status LED Driver"
	default n
	help
		Four leds used for check the sytem status
config G200WO_GSM
	tristate "GSM power and ATT control Driver"
	default n

config G200WO_IF_FPGA
	tristate "IF FPGA For DPD and CFR Module Driver"
	
config G200WO_FPGA_CONFIG
	tristate "FPGA Configure Module Driver"
	default n
	help
		Modules used for configure FPGAdefault n

config G200WO_FPGA_LOAD
	tristate "FPGA LOAD Module Driver(EXPERIMENT)"
	default n
	help
		Modules used for configure FPGA

config G200WO_LMK03000
	tristate "LMK03000 Configure Module Driver"
	default n

config G200WO_ADF4350
	tristate "ADF4350 Configure Module Driver"
	default n

config G200WO_POWER
	tristate "Power control"
	default n

config G200WO_RESET
	tristate "Reset control"
	default n

config G200WO_RTC
	tristate "RTC driver"
	default n

config G200WO_ADC
	tristate "RX ADC contorl"
	default n

config G200WO_STATUS
	tristate "status check module"
	default n

config G200WO_DAC
	tristate "TX DAC control"
	default n

config G200WO_VERSION
	tristate "version check module"
	default n
endif

