#
# NTS device configuration
#

menuconfig G410SD_DRIVERS
	bool "G410SD DTRG Board Drivers"
	depends on MACH_NTS3250

if G410SD_DRIVERS

config G410SD_SFP
	tristate "SFP Optical Module interface Driver"
	default y

	config G410SD_TMP125
	tristate "Temperature Sensor TMP125 Driver"
	default n

config G410SD_WATCHDOG
	tristate "G410SD hardware watchdog in CPLD Driver"
	default m

config G410SD_LED
	tristate "System Status LED Driver"
	default n
	help
		Four leds used for check the sytem status
config G410SD_GSM
	tristate "GSM power and ATT control Driver"
	default n

config G410SD_IF_FPGA
	tristate "IF FPGA For DPD and CFR Module Driver"
	default n

config G410SD_FPGA_CONFIG
	tristate "FPGA Configure Module Driver"
	default n
	help
		Modules used for configure FPGA

config G410SD_LMK03000
	tristate "LMK03000 Configure Module Driver"
	default n

config G410SD_LMK2531
	tristate "G410SD LO Chip LMK2531 Driver"
	default n

config G410SD_POWER
	tristate "Power control"
	default n

config G410SD_RESET
	tristate "Reset control"
	default n

config G410SD_RTC
	tristate "RTC driver"
	default n

config G410SD_ADC
	tristate "RX ADC contorl"
	default n

config G410SD_STATUS
	tristate "status check module"
	default n

config G410SD_DAC
	tristate "TX DAC control"
	default n

config G410SD_VERSION
	tristate "version check module"
	default n
endif

